<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ourmemory">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 안드로이드 푸쉬를 위해 추가 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ourmemory8"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
<!--        <activity android:name=".MyViewActivity"></activity>-->
        <activity android:name=".FavoriteActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".MypageActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".ArtListActivity" />
        <activity android:name=".MusicListActivity" />
        <activity android:name=".PetListActivity" />
        <activity android:name=".WriteActivity" />
        <activity android:name=".JoinActivity" />
        <activity android:name=".GoogleLoginResultActivity" />
        <activity android:name=".TotalListActivity" />
        <activity android:name=".HealthListActivity" />
        <activity android:name=".GameListActivity" />
        <activity android:name=".ItListActivity" />
        <activity android:name=".FoodListActivity" />
        <activity android:name=".ViewActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".AppJoinActivity" />
        <activity android:name=".IndexActivity" />
        <activity android:name=".Index2Activity" />
        <activity android:name=".ModifyActivity" />
        <activity android:name=".DeleteActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 안드로이드 푸쉬를 위해 추가 -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 안드로이드 푸쉬를 위해 추가 -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
    </application>

</manifest>